<link rel="stylesheet" href="/css/week.css">


<div class="container">
    <h1> Weekly View </h1>
    <div class="container week">
    
        <% daysOfWeek.forEach((day) => { %>
            <a href="/details/day:<%= day%>">
                <div id="<%= day%>" class="days card">

                    <% if (done.includes(day)) { %>
                        <div class="done card">
                            <h5 >Complete</h5>
                        </div>
                    <% } %>
                    <%= day%>
                </div>
            </a>
        <% }) %>
    </div>
</div>



