body{
    text-align: center;
    background-color: aqua;
}

.week {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
}

.days {
    width: 400px;
    height: 200px;
    margin: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    background-color: pink;
}


a {
    text-decoration: none;
    font-size: larger;
}

.done {
    background-color: red;
    color: white;
}